<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .login_box{
            margin-left: auto;
            margin-right: auto;
            width: 400px;
            height: 300px;
            background-color: black;
        }
        .Email_box{
            margin: 25%;
            size: 100%;
        }
        .Password_box{
             margin: 25px;
        }
        .text{
            color: blanchedalmond;
            text-align: center;
        }
    </style>
</head>
<body>
    <section class="login_box">
        <div class="text">
            WELLCOME, BACK
        </div>
        <div class="Email_box">
            <input type="text" class="Email">
        </div>
        <div class Password_box style="margin: 25%;">
            <input type="password" class="Password">
        </div>
    </section>
    

    <!-- <div style="width: max-content; background-color: blueviolet; padding: 20px; text-align: center;margin-left: auto; margin-right: auto;">
        <div>Welcome Back</div>
        <div style="background-color: red;">
            <input placeholder="Email" style="margin-top: 20px;margin-bottom: 20px;">
        </div>
        <div style="background-color: blue;">
            <input placeholder="Password" style="margin: 20px 0px 20px 0px">
        </div>
    </div> -->
</body>
</html>